// Main variables
$mainColor: #38AB1E;
$whiteColor: #FFFCFC;
$blackColor: #000;
$boxColor: #F8F8F8;
$grayColor: #A1A1A1;
$lightBlackColor: #434242;

// Screens sizes
$maxSmallMobile: "(max-width: 576px)";
$maxMiniMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 768px)";
$minSmall: "(min-width: 769px)";
$minMaxSmall: "(min-width: 768px) and (max-width: 991px)";
$maxSmall: "(max-width: 991px)";
$minMidium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";