.hadeeth-explain {
    direction: rtl;
    .hadeeth-heading {
        color: $mainColor;
        .h2 {
            font: {
                size: 30px;
                weight: 600;
            }
            @media #{$maxMobile} {
                font-size: 18px;
            }
        }
        p {
            font-size: 18px;
            margin-top: 15px;
            @media #{$maxMobile} {
                font-size: 15px;
                margin-top: 10px;
            }
        }
    }
    .hadeeth-content {
        margin-top: 40px;
        @media #{$maxMobile} {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        >h3 {
            font: {
                size: 25px;
                weight: 500;
            };
            color: $mainColor;
            margin-bottom: 40px;
            @media #{$maxMobile} {
                font-size: 20px;
            }
            + .row {
                @media #{$maxMobile} {
                    box-shadow: 8px 7px 18px -13px rgba($mainColor, 0.8);
                }
            }
        }
        >.row >div{
            &:first-child {
                > p {
                    font-size: 18px;
                }
            }
        }
        p {
            font-size: 20px;
            line-height: 2;
            @media #{$maxMobile} {
                color: $blackColor;
                font-size: 18px;
                text-align: right;
            }
        }
    }
    .hadeeth-audio {
        audio {
            height: 28px;
            width: 45%;
            margin: 30px 0 100px;
            @media #{$maxMobile} {
                width: 100%;
                margin: 30px 0;
            }
        }
    }
    .hadeeth-actions {
        text-align: right;
        margin-top: 55px;
        @media #{$maxMobile} {
            padding: 0;
        }
        li {
            display: inline-block;
            .a2a_kit {
                a {
                    position: relative;
                    top: 5px;
                }
            }
        }
        button, a {
            background: none;
            border: none;
            margin: 0 10px;
            color: $mainColor;
            cursor: pointer;
            &:active,
            &:focus,
            &:hover {
                background: none;
                border: none;
                box-shadow: none;
                outline: none;
            }
            span {
                font-size: 18px;
            }
        }
    }
    .hadeeth-navigation {
        >div {
            padding: 0 40px;
            @media #{$maxMobile} {
                padding: 0;
            }
        }
        a {
            border-radius: 25px;
        }
    }
    #explainHadeeth {
        .modal-dialog {
            transform: translateY(80px) !important;
        }
        .modal-body {
            p {
                color: $blackColor;
                @media #{$maxMobile} {
                    color: $whiteColor;
                    font-size: 18px;
                }
            }
        }
        .modal-footer {
            text-align: right;
            .normal-btn {
                margin-right: 5px;
                padding: 5px;
            }
        }
    }
}